
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8b400;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 12px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    background-color: #f8b400;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e0a300;
}

footer {
    position: fixed;
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 15px; 
    bottom: 0; 
    width: 100%;
}